In [8]:
import shutil
import pandas as pd
import numpy as np

In [9]:
# # Concatenating all the "Performance" files into one .txt file
# filenames_time = ['historical_data1_time_Q12015.txt', 'historical_data1_time_Q22015.txt', 'historical_data1_time_Q32015.txt', 'historical_data1_time_Q42015.txt',
#             'historical_data1_time_Q12016.txt', 'historical_data1_time_Q22016.txt', 'historical_data1_time_Q32016.txt', 'historical_data1_time_Q42016.txt',
#             'historical_data1_time_Q12017.txt']
# with open('output_time_file.txt','wb') as wfd:
#     for f in filenames_time:
#         with open(f,'rb') as fd:
#             shutil.copyfileobj(fd, wfd, 1024*1024*10)

In [10]:
pdf1 = pd.read_csv('historical_data1_time_Q12015.txt', sep="|", header = None)

C:\Users\arpan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3,7,14,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
pdf1.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,F115Q1000001,201504,320000.0,0,0,180,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,F115Q1000001,201505,319000.0,0,1,179,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F115Q1000001,201506,317000.0,0,2,178,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,F115Q1000001,201507,316000.0,0,3,177,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,F115Q1000001,201508,314000.0,0,4,176,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
pdf1.tail()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
8996944,F115Q1329489,201709,176650.25,0,29,331,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
8996945,F115Q1329490,201708,44281.95,0,28,332,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8996946,F115Q1329490,201709,44281.95,0,29,331,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
8996947,F115Q1329491,201709,214516.79,0,29,331,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
8996948,F115Q1329492,201709,142280.68,0,31,149,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [13]:
len(pdf1)

8996949

In [14]:
# Selecting only the desired columns
pdf1 = pdf1.iloc[:,0:5]
pdf1.head()

              0       1         2  3  4
0  F115Q1000001  201504  320000.0  0  0
1  F115Q1000001  201505  319000.0  0  1
2  F115Q1000001  201506  317000.0  0  2
3  F115Q1000001  201507  316000.0  0  3
4  F115Q1000001  201508  314000.0  0  4

In [15]:
pdf1.columns = ['loan_id','mon_rep_dt','UPB','default_status','loan_age']

In [16]:
pdf1 = pdf1.loc[pdf1.reset_index().groupby(['loan_id'])['loan_age'].idxmax()]
pdf1.head()

          loan_id  mon_rep_dt        UPB default_status  loan_age
18   F115Q1000001      201610       0.00              0        18
49   F115Q1000002      201709  100534.98              0        30
81   F115Q1000003      201709  320369.23              0        31
111  F115Q1000004      201709  281120.77              0        29
141  F115Q1000005      201709  183054.42              0        29

In [17]:
len(pdf1)

320150

In [18]:
(pdf1['default_status'] != 0).sum()

39223

In [19]:
# Second dataframe

pdf2 = pd.read_csv('historical_data1_time_Q22015.txt', sep="|", header = None)
pdf2 = pdf2.iloc[:,0:5]
pdf2.columns = ['loan_id','mon_rep_dt','UPB','default_status','loan_age']
pdf2 = pdf2.loc[pdf2.reset_index().groupby(['loan_id'])['loan_age'].idxmax()]
pdf2.head()

C:\Users\arpan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3,7,14,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

          loan_id  mon_rep_dt        UPB default_status  loan_age
28   F115Q2000001      201709  131849.02              0        28
57   F115Q2000002      201709  181577.22              0        28
84   F115Q2000003      201709  315006.62              0        26
90   F115Q2000004      201512       0.00              0         5
118  F115Q2000005      201709  262631.95              0        27

In [20]:
# Third dataframe

pdf3 = pd.read_csv('historical_data1_time_Q32015.txt', sep="|", header = None)
pdf3 = pdf3.iloc[:,0:5]
pdf3.columns = ['loan_id','mon_rep_dt','UPB','default_status','loan_age']
pdf3 = pdf3.loc[pdf3.reset_index().groupby(['loan_id'])['loan_age'].idxmax()]
pdf3.head()

C:\Users\arpan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3,7,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

          loan_id  mon_rep_dt        UPB default_status  loan_age
8    F115Q3000001      201606       0.00              0         8
34   F115Q3000002      201709  100588.47              0        25
58   F115Q3000003      201709   79921.58              0        23
84   F115Q3000004      201709   81699.47              0        25
109  F115Q3000005      201709   46453.82              0        24

In [21]:
# Fourth dataframe

pdf4 = pd.read_csv('historical_data1_time_Q42015.txt', sep="|", header = None)
pdf4 = pdf4.iloc[:,0:5]
pdf4.columns = ['loan_id','mon_rep_dt','UPB','default_status','loan_age']
pdf4 = pdf4.loc[pdf4.reset_index().groupby(['loan_id'])['loan_age'].idxmax()]
pdf4.head()

C:\Users\arpan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3,7,14,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

          loan_id  mon_rep_dt        UPB default_status  loan_age
21   F115Q4000001      201709  153339.74              0        21
42   F115Q4000002      201709  335280.26              0        20
65   F115Q4000003      201709  226317.22              0        22
86   F115Q4000004      201709  404857.17              0        20
107  F115Q4000005      201708       0.00              0        20

In [22]:
# Fifth dataframe

pdf5 = pd.read_csv('historical_data1_time_Q12016.txt', sep="|", header = None)
pdf5 = pdf5.iloc[:,0:5]
pdf5.columns = ['loan_id','mon_rep_dt','UPB','default_status','loan_age']
pdf5 = pdf5.loc[pdf5.reset_index().groupby(['loan_id'])['loan_age'].idxmax()]
pdf5.head()

C:\Users\arpan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3,7,14,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         loan_id  mon_rep_dt        UPB default_status  loan_age
17  F116Q1000001      201709   78289.11              0        17
35  F116Q1000002      201709  108613.58              0        17
55  F116Q1000003      201709  152028.27              0        19
74  F116Q1000004      201709  311734.50              0        18
94  F116Q1000005      201709  118331.14              0        19

In [23]:
# Sixth dataframe

pdf6 = pd.read_csv('historical_data1_time_Q22016.txt', sep="|", header = None)
pdf6 = pdf6.iloc[:,0:5]
pdf6.columns = ['loan_id','mon_rep_dt','UPB','default_status','loan_age']
pdf6 = pdf6.loc[pdf6.reset_index().groupby(['loan_id'])['loan_age'].idxmax()]
pdf6.head()

C:\Users\arpan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3,7,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         loan_id  mon_rep_dt        UPB default_status  loan_age
15  F116Q2000001      201709   42213.94              0        15
30  F116Q2000002      201709  380148.47              0        14
45  F116Q2000003      201709  293543.99              0        14
60  F116Q2000004      201709  340349.56              0        14
76  F116Q2000005      201709  394670.26              0        15

In [24]:
# Seventh dataframe

pdf7 = pd.read_csv('historical_data1_time_Q32016.txt', sep="|", header = None)
pdf7 = pdf7.iloc[:,0:5]
pdf7.columns = ['loan_id','mon_rep_dt','UPB','default_status','loan_age']
pdf7 = pdf7.loc[pdf7.reset_index().groupby(['loan_id'])['loan_age'].idxmax()]
pdf7.head()

C:\Users\arpan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3,7,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         loan_id  mon_rep_dt        UPB default_status  loan_age
11  F116Q3000001      201709  326770.84              0        11
23  F116Q3000002      201709  323193.30              0        11
35  F116Q3000003      201709  235784.07              0        11
48  F116Q3000004      201709  263617.95              0        12
62  F116Q3000005      201709  158047.85              0        13

In [25]:
# Eighth dataframe

pdf8 = pd.read_csv('historical_data1_time_Q42016.txt', sep="|", header = None)
pdf8 = pdf8.iloc[:,0:5]
pdf8.columns = ['loan_id','mon_rep_dt','UPB','default_status','loan_age']
pdf8 = pdf8.loc[pdf8.reset_index().groupby(['loan_id'])['loan_age'].idxmax()]
pdf8.head()

C:\Users\arpan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3,6,7,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         loan_id  mon_rep_dt        UPB default_status  loan_age
9   F116Q4000001      201709  204487.22              0         9
19  F116Q4000002      201709  510564.09              0         9
30  F116Q4000003      201709  221208.60              0        10
39  F116Q4000004      201709   59322.28              0         8
50  F116Q4000005      201709  148925.86              0        10

In [26]:
# Ninth dataframe

pdf9 = pd.read_csv('historical_data1_time_Q12017.txt', sep="|", header = None)
pdf9 = pdf9.iloc[:,0:5]
pdf9.columns = ['loan_id','mon_rep_dt','UPB','default_status','loan_age']
pdf9 = pdf9.loc[pdf9.reset_index().groupby(['loan_id'])['loan_age'].idxmax()]
pdf9.head()

C:\Users\arpan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (7,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         loan_id  mon_rep_dt        UPB  default_status  loan_age
6   F117Q1000001      201709  124000.00               0         6
12  F117Q1000002      201709  193000.00               0         5
20  F117Q1000003      201709  211291.45               0         7
25  F117Q1000004      201707       0.00               0         4
32  F117Q1000005      201709  252000.00               0         6

In [27]:
frames = [pdf1,pdf2,pdf3,pdf4,pdf5,pdf6,pdf7,pdf8,pdf9]
# np.hstack([pdf1,pdf2,pdf3,pdf4,pdf5,pdf6,pdf7,pdf8,pdf9])

In [28]:
result = pd.concat(frames, ignore_index=True)

In [29]:
result

              loan_id  mon_rep_dt        UPB default_status  loan_age
0        F115Q1000001      201610       0.00              0        18
1        F115Q1000002      201709  100534.98              0        30
2        F115Q1000003      201709  320369.23              0        31
3        F115Q1000004      201709  281120.77              0        29
4        F115Q1000005      201709  183054.42              0        29
5        F115Q1000006      201709  251871.62              0        31
6        F115Q1000007      201709  218669.01              0        31
7        F115Q1000008      201709   72003.58              0        31
8        F115Q1000009      201709   70360.66              0        30
9        F115Q1000010      201702       0.00              0        24
10       F115Q1000011      201701       0.00              0        21
11       F115Q1000012      201608       0.00              0        17
12       F115Q1000013      201709   73717.13              0        31
13       F115Q1000014      201709   63231.99              0        30
14       F115Q1000015      201709  225729.81              0        29
15       F115Q1000016      201709  322700.50              0        31
16       F115Q1000017      201705       0.00              0        26
17       F115Q1000018      201709   99003.33              0        31
18       F115Q1000019      201709  196882.52              0        30
19       F115Q1000020      201609       0.00              0        17
20       F115Q1000021      201701       0.00              0        23
21       F115Q1000022      201709  357439.92              0        30
22       F115Q1000023      201709  253998.06              0        31
23       F115Q1000024      201705       0.00              0        26
24       F115Q1000025      201709  177280.79              0        29
25       F115Q1000026      201709  231979.19              0        30
26       F115Q1000027      201709  105180.58              0        29
27       F115Q1000028      201607       0.00              0        16
28       F115Q1000029      201709   49512.49              0        31
29       F115Q1000030      201709  146285.62              0        31
...               ...         ...        ...            ...       ...
3115060  F117Q1253805      201709  224667.52              0         7
3115061  F117Q1253806      201709  368000.00              0         6
3115062  F117Q1253807      201709  100000.00              0         5
3115063  F117Q1253810      201709  186337.94              0         7
3115064  F117Q1253811      201709  196859.73              0         7
3115065  F117Q1253812      201709  422094.00              0         7
3115066  F117Q1253813      201709  305000.00              0         5
3115067  F117Q1253815      201709   57000.00              0         5
3115068  F117Q1253816      201709  225000.00              0         7
3115069  F117Q1253817      201709  301000.00              0         5
3115070  F117Q1253818      201709   96000.00              0         6
3115071  F117Q1253820      201709  221747.45              0         7
3115072  F117Q1253821      201709   73442.69              0         7
3115073  F117Q1253822      201709  345000.00              0         6
3115074  F117Q1253823      201709  519000.00              0         6
3115075  F117Q1253827      201709  565000.00              0         5
3115076  F117Q1253828      201709  249137.30              0         7
3115077  F117Q1253829      201709  320692.18              0         7
3115078  F117Q1253831      201709  409276.87              0         7
3115079  F117Q1253832      201709  410450.00              0         7
3115080  F117Q1253833      201709  357762.32              0         7
3115081  F117Q1253837      201709  200000.00              0         5
3115082  F117Q1253842      201709  212000.00              0         5
3115083  F117Q1253844      201709  136000.00              0         5
3115084  F117Q1253845      201709  120000.00              0         6
3115085  F117Q1253846      201709  249000.00              0         5
3115086  F117Q1253847      201709  250000.00              0         6
3115087  F117Q1253850      201709  376000.00              0         5
3115088  F117Q1253852      201709  164000.00              0         5
3115089  F117Q1253854      201709  229000.00              0         5

[3115090 rows x 5 columns]

In [30]:
len(result)

3115090

In [31]:
(result['default_status'] != 0).sum()

231890

In [32]:
# Creating dictionary

def count_performance_rows(df):
    dictionary = {}
    for index, row in df.iterrows():
        loan_id = row['loan_id']
        if loan_id not in dictionary:
                    dictionary[loan_id] = {
                        'default_status': row['default_status'],
                        'loan_age': row['loan_age']
                    }
    return dictionary
#     print row['c1'], row['c2']

In [33]:
dictionary = count_performance_rows(result)
dictionary

{'F115Q1000001': {'default_status': 0, 'loan_age': 18},
 'F115Q1000002': {'default_status': 0, 'loan_age': 30},
 'F115Q1000003': {'default_status': 0, 'loan_age': 31},
 'F115Q1000004': {'default_status': 0, 'loan_age': 29},
 'F115Q1000005': {'default_status': 0, 'loan_age': 29},
 'F115Q1000006': {'default_status': 0, 'loan_age': 31},
 'F115Q1000007': {'default_status': 0, 'loan_age': 31},
 'F115Q1000008': {'default_status': 0, 'loan_age': 31},
 'F115Q1000009': {'default_status': 0, 'loan_age': 30},
 'F115Q1000010': {'default_status': 0, 'loan_age': 24},
 'F115Q1000011': {'default_status': 0, 'loan_age': 21},
 'F115Q1000012': {'default_status': 0, 'loan_age': 17},
 'F115Q1000013': {'default_status': 0, 'loan_age': 31},
 'F115Q1000014': {'default_status': 0, 'loan_age': 30},
 'F115Q1000015': {'default_status': 0, 'loan_age': 29},
 'F115Q1000016': {'default_status': 0, 'loan_age': 31},
 'F115Q1000017': {'default_status': 0, 'loan_age': 26},
 'F115Q1000018': {'default_status': 0, 'loan_age': 31},
 'F115Q1000019': {'default_status': 0, 'loan_age': 30},
 'F115Q1000020': {'default_status': 0, 'loan_age': 17},
 'F115Q1000021': {'default_status': 0, 'loan_age': 23},
 'F115Q1000022': {'default_status': 0, 'loan_age': 30},
 'F115Q1000023': {'default_status': 0, 'loan_age': 31},
 'F115Q1000024': {'default_status': 0, 'loan_age': 26},
 'F115Q1000025': {'default_status': 0, 'loan_age': 29},
 'F115Q1000026': {'default_status': 0, 'loan_age': 30},
 'F115Q1000027': {'default_status': 0, 'loan_age': 29},
 'F115Q1000028': {'default_status': 0, 'loan_age': 16},
 'F115Q1000029': {'default_status': 0, 'loan_age': 31},
 'F115Q1000030': {'default_status': 0, 'loan_age': 31},
 'F115Q1000031': {'default_status': 0, 'loan_age': 31},
 'F115Q1000032': {'default_status': 0, 'loan_age': 31},
 'F115Q1000033': {'default_status': 0, 'loan_age': 31},
 'F115Q1000034': {'default_status': 0, 'loan_age': 29},
 'F115Q1000035': {'default_status': 0, 'loan_age': 31},
 'F115Q1000036': {'default_status': 0, 'loan_age': 31},
 'F115Q1000037': {'default_status': 0, 'loan_age': 31},
 'F115Q1000038': {'default_status': 0, 'loan_age': 31},
 'F115Q1000039': {'default_status': 0, 'loan_age': 31},
 'F115Q1000040': {'default_status': 0, 'loan_age': 31},
 'F115Q1000041': {'default_status': 0, 'loan_age': 3},
 'F115Q1000042': {'default_status': 0, 'loan_age': 30},
 'F115Q1000043': {'default_status': 0, 'loan_age': 18},
 'F115Q1000044': {'default_status': 0, 'loan_age': 31},
 'F115Q1000045': {'default_status': 0, 'loan_age': 25},
 'F115Q1000046': {'default_status': 0, 'loan_age': 31},
 'F115Q1000047': {'default_status': 0, 'loan_age': 31},
 'F115Q1000048': {'default_status': 0, 'loan_age': 30},
 'F115Q1000049': {'default_status': 0, 'loan_age': 29},
 'F115Q1000050': {'default_status': 0, 'loan_age': 31},
 'F115Q1000051': {'default_status': 0, 'loan_age': 31},
 'F115Q1000052': {'default_status': 0, 'loan_age': 31},
 'F115Q1000053': {'default_status': 0, 'loan_age': 10},
 'F115Q1000054': {'default_status': 0, 'loan_age': 31},
 'F115Q1000055': {'default_status': 0, 'loan_age': 31},
 'F115Q1000056': {'default_status': 0, 'loan_age': 29},
 'F115Q1000057': {'default_status': 0, 'loan_age': 31},
 'F115Q1000058': {'default_status': 0, 'loan_age': 30},
 'F115Q1000059': {'default_status': 0, 'loan_age': 3},
 'F115Q1000060': {'default_status': 0, 'loan_age': 29},
 'F115Q1000061': {'default_status': 0, 'loan_age': 31},
 'F115Q1000062': {'default_status': 0, 'loan_age': 22},
 'F115Q1000063': {'default_status': 0, 'loan_age': 31},
 'F115Q1000064': {'default_status': 0, 'loan_age': 31},
 'F115Q1000065': {'default_status': 0, 'loan_age': 30},
 'F115Q1000066': {'default_status': 0, 'loan_age': 30},
 'F115Q1000067': {'default_status': 0, 'loan_age': 31},
 'F115Q1000068': {'default_status': 0, 'loan_age': 31},
 'F115Q1000069': {'default_status': 0, 'loan_age': 19},
 'F115Q1000070': {'default_status': 0, 'loan_age': 31},
 'F115Q1000071': {'default_status': 0, 'loan_age': 31},
 'F115Q1000072': {'default_status': 0, 'loan_age': 19},
 'F115Q1000073': {'default_status': 0, 'loan_age': 31},
 'F115Q1000074': {'default_status': 0, 'loan_age': 31},
 'F115Q1000075': {'default_status': 0, 'loan_age': 29},
 'F115Q1000076': {'default_status': 0, 'loan_age': 31},
 'F115Q1000077': {'default_status': 0, 'loan_age': 31},
 'F115Q1000078': {'default_status': 0, 'loan_age': 30},
 'F115Q1000079': {'default_status': 0, 'loan_age': 31},
 'F115Q1000080': {'default_status': 0, 'loan_age': 27},
 'F115Q1000081': {'default_status': 0, 'loan_age': 24},
 'F115Q1000082': {'default_status': 0, 'loan_age': 30},
 'F115Q1000083': {'default_status': 0, 'loan_age': 31},
 'F115Q1000084': {'default_status': 0, 'loan_age': 18},
 'F115Q1000085': {'default_status': 0, 'loan_age': 31},
 'F115Q1000086': {'default_status': 0, 'loan_age': 30},
 'F115Q1000087': {'default_status': 0, 'loan_age': 31},
 'F115Q1000088': {'default_status': 0, 'loan_age': 31},
 'F115Q1000089': {'default_status': 0, 'loan_age': 31},
 'F115Q1000090': {'default_status': 0, 'loan_age': 30},
 'F115Q1000091': {'default_status': 0, 'loan_age': 31},
 'F115Q1000092': {'default_status': 0, 'loan_age': 31},
 'F115Q1000093': {'default_status': 0, 'loan_age': 14},
 'F115Q1000094': {'default_status': 0, 'loan_age': 31},
 'F115Q1000095': {'default_status': 0, 'loan_age': 30},
 'F115Q1000096': {'default_status': 0, 'loan_age': 30},
 'F115Q1000097': {'default_status': 0, 'loan_age': 22},
 'F115Q1000098': {'default_status': 0, 'loan_age': 30},
 'F115Q1000099': {'default_status': 0, 'loan_age': 30},
 'F115Q1000100': {'default_status': 0, 'loan_age': 31},
 'F115Q1000101': {'default_status': 0, 'loan_age': 30},
 'F115Q1000102': {'default_status': 0, 'loan_age': 31},
 'F115Q1000103': {'default_status': 0, 'loan_age': 31},
 'F115Q1000104': {'default_status': 0, 'loan_age': 31},
 'F115Q1000105': {'default_status': 0, 'loan_age': 31},
 'F115Q1000106': {'default_status': 0, 'loan_age': 31},
 'F115Q1000107': {'default_status': 0, 'loan_age': 31},
 'F115Q1000108': {'default_status': 0, 'loan_age': 31},
 'F115Q1000109': {'default_status': 0, 'loan_age': 29},
 'F115Q1000110': {'default_status': 0, 'loan_age': 30},
 'F115Q1000111': {'default_status': 0, 'loan_age': 30},
 'F115Q1000112': {'default_status': 0, 'loan_age': 30},
 'F115Q1000113': {'default_status': 0, 'loan_age': 29},
 'F115Q1000114': {'default_status': 0, 'loan_age': 26},
 'F115Q1000115': {'default_status': 0, 'loan_age': 31},
 'F115Q1000116': {'default_status': 0, 'loan_age': 31},
 'F115Q1000117': {'default_status': 0, 'loan_age': 31},
 'F115Q1000118': {'default_status': 0, 'loan_age': 2},
 'F115Q1000119': {'default_status': 0, 'loan_age': 31},
 'F115Q1000120': {'default_status': 0, 'loan_age': 20},
 'F115Q1000121': {'default_status': 0, 'loan_age': 31},
 'F115Q1000122': {'default_status': 0, 'loan_age': 26},
 'F115Q1000123': {'default_status': 0, 'loan_age': 29},
 'F115Q1000124': {'default_status': 0, 'loan_age': 31},
 'F115Q1000125': {'default_status': 0, 'loan_age': 19},
 'F115Q1000126': {'default_status': 0, 'loan_age': 31},
 'F115Q1000127': {'default_status': 0, 'loan_age': 29},
 'F115Q1000128': {'default_status': 0, 'loan_age': 31},
 'F115Q1000129': {'default_status': 0, 'loan_age': 30},
 'F115Q1000130': {'default_status': 0, 'loan_age': 31},
 'F115Q1000131': {'default_status': 0, 'loan_age': 30},
 'F115Q1000132': {'default_status': 0, 'loan_age': 31},
 'F115Q1000133': {'default_status': 0, 'loan_age': 31},
 'F115Q1000134': {'default_status': 0, 'loan_age': 31},
 'F115Q1000135': {'default_status': 0, 'loan_age': 31},
 'F115Q1000136': {'default_status': 0, 'loan_age': 31},
 'F115Q1000137': {'default_status': 0, 'loan_age': 31},
 'F115Q1000138': {'default_status': 0, 'loan_age': 31},
 'F115Q1000139': {'default_status': 0, 'loan_age': 13},
 'F115Q1000140': {'default_status': 0, 'loan_age': 31},
 'F115Q1000141': {'default_status': 0, 'loan_age': 31},
 'F115Q1000142': {'default_status': 0, 'loan_age': 31},
 'F115Q1000143': {'default_status': 0, 'loan_age': 7},
 'F115Q1000144': {'default_status': 0, 'loan_age': 31},
 'F115Q1000145': {'default_status': 0, 'loan_age': 31},
 'F115Q1000146': {'default_status': 0, 'loan_age': 30},
 'F115Q1000147': {'default_status': 0, 'loan_age': 31},
 'F115Q1000148': {'default_status': 0, 'loan_age': 31},
 'F115Q1000149': {'default_status': 0, 'loan_age': 31},
 'F115Q1000150': {'default_status': 0, 'loan_age': 31},
 'F115Q1000151': {'default_status': 0, 'loan_age': 31},
 'F115Q1000152': {'default_status': 0, 'loan_age': 31},
 'F115Q1000153': {'default_status': 0, 'loan_age': 30},
 'F115Q1000154': {'default_status': 0, 'loan_age': 31},
 'F115Q1000155': {'default_status': 10, 'loan_age': 28},
 'F115Q1000156': {'default_status': 0, 'loan_age': 31},
 'F115Q1000157': {'default_status': 0, 'loan_age': 31},
 'F115Q1000158': {'default_status': 0, 'loan_age': 31},
 'F115Q1000159': {'default_status': 0, 'loan_age': 31},
 'F115Q1000160': {'default_status': 0, 'loan_age': 20},
 'F115Q1000161': {'default_status': 0, 'loan_age': 31},
 'F115Q1000162': {'default_status': 0, 'loan_age': 29},
 'F115Q1000163': {'default_status': 0, 'loan_age': 31},
 'F115Q1000164': {'default_status': 0, 'loan_age': 31},
 'F115Q1000165': {'default_status': 0, 'loan_age': 29},
 'F115Q1000166': {'default_status': 0, 'loan_age': 31},
 'F115Q1000167': {'default_status': 0, 'loan_age': 31},
 'F115Q1000168': {'default_status': 0, 'loan_age': 29},
 'F115Q1000169': {'default_status': 0, 'loan_age': 31},
 'F115Q1000170': {'default_status': 0, 'loan_age': 31},
 'F115Q1000171': {'default_status': 0, 'loan_age': 20},
 'F115Q1000172': {'default_status': 0, 'loan_age': 31},
 'F115Q1000173': {'default_status': 0, 'loan_age': 31},
 'F115Q1000174': {'default_status': 0, 'loan_age': 31},
 'F115Q1000175': {'default_status': 0, 'loan_age': 30},
 'F115Q1000176': {'default_status': 0, 'loan_age': 14},
 'F115Q1000177': {'default_status': 0, 'loan_age': 31},
 'F115Q1000178': {'default_status': 0, 'loan_age': 31},
 'F115Q1000179': {'default_status': 0, 'loan_age': 13},
 'F115Q1000180': {'default_status': 0, 'loan_age': 31},
 'F115Q1000181': {'default_status': 0, 'loan_age': 31},
 'F115Q1000182': {'default_status': 0, 'loan_age': 31},
 'F115Q1000183': {'default_status': 0, 'loan_age': 16},
 'F115Q1000184': {'default_status': 0, 'loan_age': 31},
 'F115Q1000185': {'default_status': 0, 'loan_age': 31},
 'F115Q1000186': {'default_status': 0, 'loan_age': 31},
 'F115Q1000187': {'default_status': 0, 'loan_age': 31},
 'F115Q1000188': {'default_status': 0, 'loan_age': 18},
 'F115Q1000189': {'default_status': 0, 'loan_age': 31},
 'F115Q1000190': {'default_status': 0, 'loan_age': 31},
 'F115Q1000191': {'default_status': 0, 'loan_age': 31},
 'F115Q1000192': {'default_status': 0, 'loan_age': 31},
 'F115Q1000193': {'default_status': 0, 'loan_age': 31},
 'F115Q1000194': {'default_status': 0, 'loan_age': 31},
 'F115Q1000195': {'default_status': 0, 'loan_age': 31},
 'F115Q1000196': {'default_status': 0, 'loan_age': 31},
 'F115Q1000197': {'default_status': 0, 'loan_age': 31},
 'F115Q1000198': {'default_status': 0, 'loan_age': 31},
 'F115Q1000199': {'default_status': 0, 'loan_age': 31},
 'F115Q1000200': {'default_status': 0, 'loan_age': 31},
 'F115Q1000201': {'default_status': 0, 'loan_age': 20},
 'F115Q1000202': {'default_status': 0, 'loan_age': 31},
 'F115Q1000203': {'default_status': 0, 'loan_age': 31},
 'F115Q1000204': {'default_status': 0, 'loan_age': 31},
 'F115Q1000205': {'default_status': 0, 'loan_age': 31},
 'F115Q1000206': {'default_status': 0, 'loan_age': 3},
 'F115Q1000207': {'default_status': 0, 'loan_age': 31},
 'F115Q1000208': {'default_status': 0, 'loan_age': 31},
 'F115Q1000209': {'default_status': 0, 'loan_age': 31},
 'F115Q1000210': {'default_status': 0, 'loan_age': 31},
 'F115Q1000211': {'default_status': 0, 'loan_age': 17},
 'F115Q1000212': {'default_status': 0, 'loan_age': 31},
 'F115Q1000213': {'default_status': 0, 'loan_age': 31},
 'F115Q1000214': {'default_status': 0, 'loan_age': 25},
 'F115Q1000215': {'default_status': 0, 'loan_age': 31},
 'F115Q1000216': {'default_status': 0, 'loan_age': 31},
 'F115Q1000217': {'default_status': 0, 'loan_age': 31},
 'F115Q1000218': {'default_status': 0, 'loan_age': 31},
 'F115Q1000219': {'default_status': 0, 'loan_age': 17},
 'F115Q1000220': {'default_status': 0, 'loan_age': 31},
 'F115Q1000221': {'default_status': 0, 'loan_age': 31},
 'F115Q1000222': {'default_status': 0, 'loan_age': 31},
 'F115Q1000223': {'default_status': 0, 'loan_age': 31},
 'F115Q1000224': {'default_status': 0, 'loan_age': 31},
 'F115Q1000225': {'default_status': 0, 'loan_age': 31},
 'F115Q1000226': {'default_status': 0, 'loan_age': 31},
 'F115Q1000227': {'default_status': 0, 'loan_age': 31},
 'F115Q1000228': {'default_status': 0, 'loan_age': 31},
 'F115Q1000229': {'default_status': 0, 'loan_age': 31},
 'F115Q1000230': {'default_status': 0, 'loan_age': 31},
 'F115Q1000231': {'default_status': 0, 'loan_age': 31},
 'F115Q1000232': {'default_status': 0, 'loan_age': 31},
 'F115Q1000233': {'default_status': 0, 'loan_age': 31},
 'F115Q1000234': {'default_status': 0, 'loan_age': 19},
 'F115Q1000235': {'default_status': 0, 'loan_age': 31},
 'F115Q1000236': {'default_status': 0, 'loan_age': 25},
 'F115Q1000237': {'default_status': 0, 'loan_age': 31},
 'F115Q1000238': {'default_status': 0, 'loan_age': 31},
 'F115Q1000239': {'default_status': 0, 'loan_age': 31},
 'F115Q1000240': {'default_status': 0, 'loan_age': 31},
 'F115Q1000241': {'default_status': 0, 'loan_age': 30},
 'F115Q1000242': {'default_status': 0, 'loan_age': 31},
 'F115Q1000243': {'default_status': 0, 'loan_age': 31},
 'F115Q1000244': {'default_status': 0, 'loan_age': 31},
 'F115Q1000245': {'default_status': 0, 'loan_age': 31},
 'F115Q1000246': {'default_status': 0, 'loan_age': 31},
 'F115Q1000247': {'default_status': 0, 'loan_age': 31},
 'F115Q1000248': {'default_status': 0, 'loan_age': 31},
 'F115Q1000249': {'default_status': 0, 'loan_age': 31},
 'F115Q1000250': {'default_status': 0, 'loan_age': 31},
 'F115Q1000251': {'default_status': 0, 'loan_age': 31},
 'F115Q1000252': {'default_status': 0, 'loan_age': 30},
 'F115Q1000253': {'default_status': 0, 'loan_age': 31},
 'F115Q1000254': {'default_status': 0, 'loan_age': 31},
 'F115Q1000255': {'default_status': 0, 'loan_age': 29},
 'F115Q1000256': {'default_status': 0, 'loan_age': 31},
 'F115Q1000257': {'default_status': 0, 'loan_age': 31},
 'F115Q1000258': {'default_status': 0, 'loan_age': 31},
 'F115Q1000259': {'default_status': 0, 'loan_age': 31},
 'F115Q1000260': {'default_status': 0, 'loan_age': 22},
 'F115Q1000261': {'default_status': 0, 'loan_age': 31},
 'F115Q1000262': {'default_status': 0, 'loan_age': 31},
 'F115Q1000263': {'default_status': 0, 'loan_age': 31},
 'F115Q1000264': {'default_status': 0, 'loan_age': 30},
 'F115Q1000265': {'default_status': 0, 'loan_age': 31},
 'F115Q1000266': {'default_status': 0, 'loan_age': 31},
 'F115Q1000267': {'default_status': 0, 'loan_age': 31},
 'F115Q1000268': {'default_status': 0, 'loan_age': 31},
 'F115Q1000269': {'default_status': 0, 'loan_age': 30},
 'F115Q1000270': {'default_status': 0, 'loan_age': 31},
 'F115Q1000271': {'default_status': 0, 'loan_age': 31},
 'F115Q1000272': {'default_status': 0, 'loan_age': 31},
 'F115Q1000273': {'default_status': 0, 'loan_age': 31},
 'F115Q1000274': {'default_status': 0, 'loan_age': 31},
 'F115Q1000275': {'default_status': 0, 'loan_age': 31},
 'F115Q1000276': {'default_status': 0, 'loan_age': 31},
 'F115Q1000277': {'default_status': 0, 'loan_age': 31},
 'F115Q1000278': {'default_status': 0, 'loan_age': 25},
 'F115Q1000279': {'default_status': 0, 'loan_age': 30},
 'F115Q1000280': {'default_status': 0, 'loan_age': 30},
 'F115Q1000281': {'default_status': 0, 'loan_age': 31},
 'F115Q1000282': {'default_status': 0, 'loan_age': 31},
 'F115Q1000283': {'default_status': 0, 'loan_age': 31},
 'F115Q1000284': {'default_status': 0, 'loan_age': 31},
 'F115Q1000285': {'default_status': 0, 'loan_age': 31},
 'F115Q1000286': {'default_status': 0, 'loan_age': 31},
 'F115Q1000287': {'default_status': 0, 'loan_age': 31},
 'F115Q1000288': {'default_status': 0, 'loan_age': 30},
 'F115Q1000289': {'default_status': 0, 'loan_age': 31},
 'F115Q1000290': {'default_status': 0, 'loan_age': 31},
 'F115Q1000291': {'default_status': 0, 'loan_age': 31},
 'F115Q1000292': {'default_status': 0, 'loan_age': 31},
 'F115Q1000293': {'default_status': 0, 'loan_age': 17},
 'F115Q1000294': {'default_status': 0, 'loan_age': 30},
 'F115Q1000295': {'default_status': 0, 'loan_age': 31},
 'F115Q1000296': {'default_status': 0, 'loan_age': 31},
 'F115Q1000297': {'default_status': 0, 'loan_age': 30},
 'F115Q1000298': {'default_status': 0, 'loan_age': 31},
 'F115Q1000299': {'default_status': 0, 'loan_age': 12},
 'F115Q1000300': {'default_status': 0, 'loan_age': 31},
 'F115Q1000301': {'default_status': 0, 'loan_age': 31},
 'F115Q1000302': {'default_status': 0, 'loan_age': 31},
 'F115Q1000303': {'default_status': 0, 'loan_age': 31},
 'F115Q1000304': {'default_status': 0, 'loan_age': 31},
 'F115Q1000305': {'default_status': 0, 'loan_age': 31},
 'F115Q1000306': {'default_status': 0, 'loan_age': 31},
 'F115Q1000307': {'default_status': 0, 'loan_age': 31},
 'F115Q1000308': {'default_status': 0, 'loan_age': 8},
 'F115Q1000309': {'default_status': 0, 'loan_age': 31},
 'F115Q1000310': {'default_status': 0, 'loan_age': 31},
 'F115Q1000311': {'default_status': 0, 'loan_age': 30},
 'F115Q1000312': {'default_status': 0, 'loan_age': 31},
 'F115Q1000313': {'default_status': 0, 'loan_age': 29},
 'F115Q1000314': {'default_status': 0, 'loan_age': 31},
 'F115Q1000315': {'default_status': 0, 'loan_age': 31},
 'F115Q1000316': {'default_status': 0, 'loan_age': 31},
 'F115Q1000317': {'default_status': 0, 'loan_age': 27},
 'F115Q1000318': {'default_status': 0, 'loan_age': 15},
 'F115Q1000319': {'default_status': 0, 'loan_age': 31},
 'F115Q1000320': {'default_status': 0, 'loan_age': 30},
 'F115Q1000321': {'default_status': 0, 'loan_age': 31},
 'F115Q1000322': {'default_status': 0, 'loan_age': 31},
 'F115Q1000323': {'default_status': 0, 'loan_age': 31},
 'F115Q1000324': {'default_status': 0, 'loan_age': 31},
 'F115Q1000325': {'default_status': 0, 'loan_age': 31},
 'F115Q1000326': {'default_status': 0, 'loan_age': 31},
 'F115Q1000327': {'default_status': 0, 'loan_age': 18},
 'F115Q1000328': {'default_status': 0, 'loan_age': 8},
 'F115Q1000329': {'default_status': 0, 'loan_age': 31},
 'F115Q1000330': {'default_status': 0, 'loan_age': 31},
 'F115Q1000331': {'default_status': 0, 'loan_age': 31},
 'F115Q1000332': {'default_status': 0, 'loan_age': 17},
 'F115Q1000333': {'default_status': 0, 'loan_age': 30},
 'F115Q1000334': {'default_status': 0, 'loan_age': 21},
 'F115Q1000335': {'default_status': 0, 'loan_age': 31},
 'F115Q1000336': {'default_status': 0, 'loan_age': 31},
 'F115Q1000337': {'default_status': 0, 'loan_age': 29},
 'F115Q1000338': {'default_status': 0, 'loan_age': 31},
 'F115Q1000339': {'default_status': 0, 'loan_age': 29},
 'F115Q1000340': {'default_status': 0, 'loan_age': 31},
 'F115Q1000341': {'default_status': 12, 'loan_age': 24},
 'F115Q1000342': {'default_status': 0, 'loan_age': 31},
 'F115Q1000343': {'default_status': 0, 'loan_age': 31},
 'F115Q1000344': {'default_status': 0, 'loan_age': 28},
 'F115Q1000345': {'default_status': 0, 'loan_age': 30},
 'F115Q1000346': {'default_status': 0, 'loan_age': 31},
 'F115Q1000347': {'default_status': 0, 'loan_age': 31},
 'F115Q1000348': {'default_status': 0, 'loan_age': 30},
 'F115Q1000349': {'default_status': 0, 'loan_age': 31},
 'F115Q1000350': {'default_status': 0, 'loan_age': 30},
 'F115Q1000351': {'default_status': 0, 'loan_age': 31},
 'F115Q1000352': {'default_status': 0, 'loan_age': 31},
 'F115Q1000353': {'default_status': 0, 'loan_age': 31},
 'F115Q1000354': {'default_status': 0, 'loan_age': 31},
 'F115Q1000355': {'default_status': 0, 'loan_age': 31},
 'F115Q1000356': {'default_status': 0, 'loan_age': 31},
 'F115Q1000357': {'default_status': 0, 'loan_age': 29},

In [36]:
def get_performance_summary_value(loan_id, key, dictionary):
    value = dictionary.get(loan_id, {
        "default_status": False,
        "loan_age": 0
    })
    return value[key]

In [40]:
get_performance_summary_value('F115Q1000002', 'loan_age', dictionary)

30

## Loading in the Acquisition Dataframe

In [41]:
# Concatenating all the "Origination" files into one .txt file
filenames = ['historical_data1_Q12015.txt', 'historical_data1_Q22015.txt', 'historical_data1_Q32015.txt', 'historical_data1_Q42015.txt',
            'historical_data1_Q12016.txt', 'historical_data1_Q22016.txt', 'historical_data1_Q32016.txt', 'historical_data1_Q42016.txt',
            'historical_data1_Q12017.txt']
with open('output_file.txt','wb') as wfd:
    for f in filenames:
        with open(f,'rb') as fd:
            shutil.copyfileobj(fd, wfd, 1024*1024*10)

In [42]:
# Origin DataFrame
df = pd.read_csv('output_file.txt', sep="|", header = None)

In [43]:
# Naming the columns of Origin dataframe 
df.columns = ['credit_score','1st_pay_dt','1st_home','maturity_dt','metro_div','MI%','num_units','occupancy','CLTV','DTI',
              'UPB','LTV','interest','channel','PPM','prod_type','state','home_type','zip_code','loan_id','purpose','loan_term',
              'no_borrowers','seller','servicer','sup_conform']

In [44]:
df.head()

,credit_score,1st_pay_dt,1st_home,maturity_dt,metro_div,MI%,num_units,occupancy,CLTV,DTI,...,state,home_type,zip_code,loan_id,purpose,loan_term,no_borrowers,seller,servicer,sup_conform
0,796,201505,9,203004,43580.0,0,1,P,72,21,...,IA,SF,51000,F115Q1000001,C,180,1,Other sellers,Other servicers,NaN
1,805,201504,9,204503,30700.0,0,1,P,79,20,...,NE,SF,68500,F115Q1000002,N,360,1,Other sellers,Other servicers,NaN
2,730,201503,9,203002,NaN,0,1,P,73,32,...,KY,SF,40400,F115Q1000003,N,180,2,Other sellers,NATIONSTARMTGELLCDBA,NaN
3,762,201505,9,204504,NaN,0,1,P,70,14,...,CO,SF,81200,F115Q1000004,N,360,2,Other sellers,USBANKNA,NaN
4,777,201505,9,204504,37900.0,0,1,P,80,40,...,IL,SF,61700,F115Q1000005,N,360,1,Other sellers,Other servicers,NaN

In [45]:
pdf = pd.merge(result, df, on =['loan_id'])
pdf.head()

,loan_id,mon_rep_dt,UPB_x,default_status,loan_age,credit_score,1st_pay_dt,1st_home,maturity_dt,metro_div,...,prod_type,state,home_type,zip_code,purpose,loan_term,no_borrowers,seller,servicer,sup_conform
0,F115Q1000001,201610,0.00,0,18,796,201505,9,203004,43580.0,...,FRM,IA,SF,51000,C,180,1,Other sellers,Other servicers,NaN
1,F115Q1000002,201709,100534.98,0,30,805,201504,9,204503,30700.0,...,FRM,NE,SF,68500,N,360,1,Other sellers,Other servicers,NaN
2,F115Q1000003,201709,320369.23,0,31,730,201503,9,203002,NaN,...,FRM,KY,SF,40400,N,180,2,Other sellers,NATIONSTARMTGELLCDBA,NaN
3,F115Q1000004,201709,281120.77,0,29,762,201505,9,204504,NaN,...,FRM,CO,SF,81200,N,360,2,Other sellers,USBANKNA,NaN
4,F115Q1000005,201709,183054.42,0,29,777,201505,9,204504,37900.0,...,FRM,IL,SF,61700,N,360,1,Other sellers,Other servicers,NaN

In [46]:
len(pdf)

3115090

#### Getting a list of columns that have missing values in 'pdf' dataframe. These columns, if not very important, can be removed from the dataframe for analysis

In [47]:
pdf.columns[pdf.isna().any()].tolist()

['metro_div', 'PPM', 'sup_conform']

In [50]:
pdf = pdf.drop(['metro_div', 'PPM', 'sup_conform'], axis=1)
pdf.head()

,loan_id,mon_rep_dt,UPB_x,default_status,loan_age,credit_score,1st_pay_dt,1st_home,maturity_dt,MI%,...,channel,prod_type,state,home_type,zip_code,purpose,loan_term,no_borrowers,seller,servicer
0,F115Q1000001,201610,0.00,0,18,796,201505,9,203004,0,...,R,FRM,IA,SF,51000,C,180,1,Other sellers,Other servicers
1,F115Q1000002,201709,100534.98,0,30,805,201504,9,204503,0,...,B,FRM,NE,SF,68500,N,360,1,Other sellers,Other servicers
2,F115Q1000003,201709,320369.23,0,31,730,201503,9,203002,0,...,R,FRM,KY,SF,40400,N,180,2,Other sellers,NATIONSTARMTGELLCDBA
3,F115Q1000004,201709,281120.77,0,29,762,201505,9,204504,0,...,R,FRM,CO,SF,81200,N,360,2,Other sellers,USBANKNA
4,F115Q1000005,201709,183054.42,0,29,777,201505,9,204504,0,...,R,FRM,IL,SF,61700,N,360,1,Other sellers,Other servicers

In [51]:
pdf.isnull().values.any()

False

#### So now, there are no missing values in the dataframe

In [52]:
import numpy as np

def outliers_z_score(ys):
    threshold = 3

    mean_y = np.mean(ys)
    stdev_y = np.std(ys)
    z_scores = [(y - mean_y) / stdev_y for y in ys]
    return np.where(np.abs(z_scores) > threshold)

In [ ]:
outliers_z_score(pdf)